/*  your css code here. If applicable */
body {
    /* font-family: Arial, sans-serif; */
}

/* Main container */
.main-container {
    background-color: #f5f5f5;
    padding: 20px;
    /* width: 70%;
    margin: 20px auto; */
}

/* Heading */
.testimonial-container h2 {
    margin-bottom: 15px;
}

/* Individual testimonial box */
.testimonial {
    background-color: #ffffff;
	padding:20px;
    border: 2px solid #ccc;
	margin-bottom:15px;
}
.testimonial2 {
    background-color: #ffffff;
	padding:20px;
    border: 2px solid #ccc;
}
/* Testimonial text */
.text {
    margin-bottom: 10px;
}

/* Author name */
.author {
    text-align: right;
    font-style: italic;
}